.mediaViewInfo {
	--web-view-name: OBAL;
	--web-view-id: OBAL;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: OBAL;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#OBAL {
	position: absolute;
	width: 218px;
	height: 441px;
	background-color: rgba(34,34,34,1);
	overflow: hidden;
	--web-view-name: OBAL;
	--web-view-id: OBAL;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#dis {
	position: absolute;
	width: 205px;
	height: 425px;
	left: 6px;
	top: 8px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(114,114,114,1);
	stroke: rgba(44,172,127,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 425px;
	left: 0px;
	top: 0px;
}
#Component_2__1 {
	position: absolute;
	width: 180px;
	height: 399px;
	left: 16px;
	top: 20px;
	overflow: visible;
}
#He {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 400px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(221,214,214,1);
}